<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container"><br><br><br>
                <div class="title-brand"><br><br><br>
                    <div class="angular-logo">
                        <img src="../assets/img/faces/domingos.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                    </div>
                    <h1 class="presentation-title">Domingos Neto</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div><br><br><br>
                <h2 class="presentation-subtitle text-center"> Personal page for project and professional display.</h2>
            </div>
            <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        </div>
    </div>


        <div class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="title">Let's talk product</h2>
                        <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing
                            meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll
                            to get here. Add a button if you want the user to see more.</h5>
                        <br>
                        <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-album-2"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Beautiful Gallery</h4>
                                <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
                                <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-bulb-63"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">New Ideas</h4>
                                <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                                <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-chart-bar-32"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Statistics</h4>
                                <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                                <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-sun-fog-29"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Delightful design</h4>
                                <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                                <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>


    <div class="main">
        <div class="section section-dark section-nucleo-icons" style="background-image: url('assets/img/login-image.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h2 class="title"> Languages ​​and Framework </h2><br/>
                        <p class="description">
                         Here are the main languages ​​and frameworks used by Domingos Neto.
                        </p><br/>
                        <a [routerLink]="['/nucleoicons']" class="btn btn-danger btn-round">View Demo Icons</a>
                        <a href="https://nucleoapp.com/?ref=1712" class="btn btn-outline-danger btn-round" target="_blank">View All Icons</a>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <i class="nc-icon"><img src="https://png.icons8.com/nolan/40/000000/js.png"></i>
                            <i class="nc-icon"><img src="https://png.icons8.com/doodle/40/000000/github.png"></i>
                            <i class="nc-icon"><img src="https://png.icons8.com/color/40/000000/gitlab.png"></i>
                            <i class="nc-icon"><img src="https://png.icons8.com/color/40/000000/angularjs.png"></i>
                            <i class="nc-icon"><img src="https://png.icons8.com/color/40/000000/java-coffee-cup-logo.png"></i>
                            <i class="nc-icon"><img src="https://png.icons8.com/color/90/000000/c-plus-plus-logo.png"></i>
                            <i class="nc-icon"><img src="https://png.icons8.com/color/40/000000/c-programming.png"></i>
                            <i class="nc-icon"><img src="https://png.icons8.com/ios/40/2ecc71/qt-filled.png"></i>
                            <i class="nc-icon"><img src="https://png.icons8.com/color/40/000000/css3.png"></i>
                            <i class="nc-icon"><img src="https://png.icons8.com/cotton/40/000000/android-os.png"></i>
                            <i class="nc-icon"><img src="https://png.icons8.com/dusk/40/000000/developer-mode.png"></i>
                            <i class="nc-icon"><img src="https://png.icons8.com/dusk/40/000000/php.png"></i>
                            <i class="nc-icon"><img src="https://png.icons8.com/nolan/40/000000/matlab.png"></i>
                            <i class="nc-icon"><img src="https://png.icons8.com/color/40/000000/firebase.png"></i>
                            <i class="nc-icon"><img src="https://png.icons8.com/dusk/40/000000/sql.png"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="section landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="text-center">Keep in touch?</h2>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="nc-icon nc-single-02"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Email</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="nc-icon nc-email-85"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <label>Message</label>
                            <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                            <div class="row">
                                <div class="col-md-4 mr-auto ml-auto">
                                    <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
